.title {
  color: #1452b6;
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0 15px;
  text-align: center;
  @media (max-width: 550px) {
    font-size: 18px;
  }
}
.number {
  color: #fff;
  background-color: #1452b6;
  padding: 0px 7px;
  border-radius: 30px;
  margin-right: 5px;
}
.list {
  display: flex;
  flex-wrap: wrap;
}
